header{
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)),url('../../public/images/background.jpg');
  // background-image: url('../../public/images/background.jpg');
  background-position: top center;
}

nav{
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  @include responsive($breakpoint-medium){
    width: 95%;
  }
  h1{
    color: rgb(231, 32, 42);
    font-size: $font-size-large;
  }
  select{
    width: 100px;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
    background-color: transparent;
    color: #fff;
    option{
      background-color: #fff;
      color: #000;
      text-align: center;
    }
  }
  button{
    @include  button-style;
}
}

.header-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate((-50%,-50%));
  text-align: center;
  h2{
    font-size: 60px;
    margin-bottom: 20px;
    @include responsive($breakpoint-medium){
      font-size: 40px;
    }
  }
  h4{
    font-size: $font-size-medium;
    margin-bottom: 20px;
  }
  p{
    font-size: $font-size-medium;
  }
}