@mixin button-style{
  background-color: $primary-color;
  color: $text-color;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  &:hover{
    // background-color: $hover-color;
    filter: brightness(0.6);
  }
}

@mixin component_size{
  width: 80%;
  margin: 0 auto;
}

@mixin responsive($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}