.move-slider{
  

  @include component_size;
  position: relative;
  //기본 화살표에 가상 요소 삭제
  .slick_prev:before,
  .slick_next:before{
    content: '';
  }
  .slick_prev,
  .slick_next{
    background-color: rgba(24, 24, 24, 0.9);
    color: #fff;
    height: 100px;
    width: 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 10;
    text-align: center;
    line-height: 100px;
    &:hover{
      background-color: rgba(255,255,255,0.5);
      color: black;
    }
  }
  .slick_prev{
    left: -50px;
  }
  .slick_next{
    right: -50px;
  }
  .movie-card{
    position: relative;
    padding: 40px 50px;
    transition: 0.3s;
    cursor: pointer;
    &:hover{
      transform: scale(1.1);
    }
    span{
      position: absolute;
      left: -10px;
      bottom: 0;
      font-size: 100px;
      font-weight: bolder;
      color: #000;
      // --webkit-text-stroke: 2px #fff;
      // --webkit-text-fill-color: #000; => 호환 잘 되지 않을 수 있음
      text-shadow: -2px -2px 0 #fff, //왼쪽 위
      2px -2px 0 #fff, //오른쪽 위
      2px 2px 0 #fff, //왼쪽 아래
      2px 2px 0 #fff; //오른쪽 아래
    }
    img{
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 5px;
  }
}
}