//색상 변수
$primary-color: rgb(231, 32, 42);
$hover-color: rgb(172, 22, 29);
$bg-color: #111;
$text-color: #fff;

//폰트
$font-size-medium: 18px;
$font-size-large: 36px;
$font-size-small: 14px;


//반응형
$breakpoint-small: 600px;
$breakpoint-medium: 960px;
$breakpoint-large: 1024px;