.whyjoin{
  @include component_size;
  h2{
    margin: 10px;
  }
  ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    
    @include responsive($breakpoint-medium){
      flex-wrap: wrap;
    }
    li{
      width: 25%;
      height: 400px;
      background-image: linear-gradient(113deg, rgba(16,20,57,0.9248074229691877) 5%, rgba(10,10,74,1) 26%, rgba(48,1,75,1) 99%);
      border-radius: 10px;
      padding: 20px 35px;
      position: relative;
      @include responsive($breakpoint-medium){
        width: 45%;
        height: 300px;
      }
      @include responsive($breakpoint-small){
        width: 100%;
        height: 200px;
      }
      h3{
        font-size: 24px;
        margin-bottom: 10px;
      }
      p{
        font-size: $font-size-small;
      }
      div{
        font-size: 60px;
        position: absolute;
        bottom: 10px;
        right: 10px;
      }
    }
  
  }
  
}